{
  "extends" : "../.eslintrc",
  "env"     : {
    "mocha" : true
  },
  "globals" : {
    "expect" : false,
    "should" : false,
    "sinon"  : false,
    "fmock"  : false,
    "configureStore"  : false,
    "middlewares"  : false
  }
}
