@import 'base';
/*@import '~normalize.css/normalize'; */

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
  overflow-y: scroll;
}

html,
body {
  /*margin: 0;
  padding: 0;  */
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}






/* Input */
.form-search .btn-group {
  width: 100%;
  padding-bottom: 10px;
}

#searchclear {
  position: absolute;
  right: 5px;
  top: 30px;
  bottom: 0;
  height: 30px;
  margin: auto;
  font-size: 20px;
  cursor: pointer;
  color: #ccc;
}

