.dropdown-menu {
  .option {
    cursor: default;
    font-size: 16px;

    a {
      color: #212529;
      cursor: default;
    }

    @include media-breakpoint-down(xs) {
      font-size: 18px;
    }

    span.fa {
      //padding-left: 20px;
    }
  }
}
