.core-layout__viewport {
  padding-top: 4rem;
  padding-bottom: 50px;
}

@media (min-width: 768px) {

  .content__out {
    transition: padding-right 0.3s ease-out;
  }

  .content__out_shifted {
    padding-right: 360px;
  }

  /*.content_shifted-out > div {
    margin-right: 360px;
    transition: margin-right 0.3s ease-out;
  }*/
  .container {
    width: auto;
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: auto;
    max-width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: auto;
    max-width: 1170px;
  }
}
