/* SideBar */
.sidebar {
  background-color: #aaaaaa;
  position: fixed;
  width: 360px;
  max-width: 100%;
  top: 0px;
  bottom: 50px;
  right: 0px;
  transition: right 0.3s ease-out;
}

.sidebar--open {
  right: -360px;
}

.sidebar__widget {
  height: 100%;
  margin: 0
}

.playmenu {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.playmenu__top {
  background-color: #997788;
  flex: 0 1;
  min-height: 32px;
}

.playmenu__tabs {
  flex: 0 1;
}

.playmenu__list {
  background-color: #998877;
  flex: 1 1 auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

.playmenu__status {
  background-color: #887799;
  flex: 0 1;
  min-height: 40px;
  text-align: center;
}

.playmenu__bottom {
  background-color: #779988;
  flex: 0 1;
  min-height: 32px;
}

/* Button popups */
.playmenu__bottom .dropdown-menu {
  left: 10px;
  top: auto;
  bottom: 40px;
  font-size: 16px;
}

.playmenu__top button {
  height: 100%;
}

.playmenu__volume {
  height: 100%;
}

.playmenu__bottom button {
  height: 100%;
}

.playmenu__list .dropdown-menu {

}

.dropdown_fixed {
  position: fixed;
}

.playmenu__volume {
  display: inline-block;
  float: right;

}

.playmenu__volume-slider {
  display: inline-block;
  float: right;
  max-width: 80px;
  margin: 5px;
}

.tracklist_mini {
  margin-bottom: 40px;
}
