/* SideBar */
.sidebar {
  background-color: #aaaaaa;
  position: fixed;
  width: 360px;
  max-width: 100%;
  top: 0px;
  bottom: 50px;
  right: 0px;

  transition: right 0.3s ease-out;
}

.sidebar_open {
  right: -360px;
}

.sidebar__widget {
  height: 100%;
  margin: 0
}

.playmenu {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.playmenu__top {
  background-color: #997788;
  flex: 0 1;
  min-height: 32px;
}

.playmenu__tabs {
  background-color: #889977;
  flex: 0 1;
  min-height: 42px;
  display: flex;
  flex-flow: row;
}

.playmenu__list {
  background-color: #998877;
  flex: 1 1 auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

.playmenu__status {
  background-color: #887799;
  flex: 0 1;
  min-height: 40px;
  text-align: center;
}

.playmenu__bottom {
  background-color: #779988;
  flex: 0 1;
  min-height: 32px;
}

/* Tab */
.nav-tabs > li {
}

.nav-tabs > li > a {
  cursor: pointer;
  user-select: none;
  width: 70px;
  height: 42px;
  padding: 0px 3px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
}

.playmenu__tabs-control {
  width: 25px;
  height: 100%;
  padding: 10px 3px;
}

.playmenu__tabs-left {
  flex: 0 1;
}

.playmenu__tabs-center {
  flex: 1 1 auto;
  overflow: hidden;
}

.playmenu__tabs-list {
  width: 3000px;
  transition: margin-left 0.15s ease-out;
}

.playmenu__tabs-right {
  flex: 0 1;
  white-space: nowrap;
}

.playmenu__tabs-right .dropdown-menu {
  left: -240px;
  width: 280px;
}

/* Button popups */

.playmenu__bottom .dropdown-menu {
  left: 10px;
  top: auto;
  bottom: 40px;
  font-size: 16px;
}

.playmenu__bottom button {
  height: 100%;
}

.playmenu__list .dropdown-menu {

}

.dropdown_fixed {
  position: fixed;
}

